@font-face {
  font-family: Manrope;
  src:  url(/fonts/Manrope-Regular.ttf)format("woff");
  font-style: normal;
  font-weight: 500; 
  font-stretch: 100%;
  font-display: swap;
  ascent-override: 92%;
  descent-override: 22%
} 

@font-face {
  font-family: Manrope;
  src: url(/fonts/Manrope-Light.ttf)format("woff");
  font-style: normal;
  font-weight: 400;
  font-stretch: 100%;
  font-display: swap;
  ascent-override: 92%;
  descent-override: 22%
} 

@font-face {
  font-family: Manrope;
  src: url(/fonts/Manrope-Bold.ttf)format("woff");
  font-style: normal;
  font-weight: 700;
  font-stretch: 100%;
  font-display: swap;
  ascent-override: 92%;
  descent-override: 22%
}

body{
  box-sizing: border-box;
  font-family:  Manrope, Arial, sans-serif !important; ;
}